<!DOCTYPE html>
<head>
    <title>G5 data</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" type="text/javascript"></script>
    <script src="https://momentjs.com/downloads/moment.js" type="text/javascript"></script>
    <script src="main.controller.js" type="text/javascript"></script>
    <script src="chart.service.js" type="text/javascript"></script>
    <script src="util.service.js" type="text/javascript"></script>
    <script src="data.service.js" type="text/javascript"></script>
    <script src="config.js" type="text/javascript"></script>
    <script src="https://www.chartjs.org/dist/2.6.0/Chart.bundle.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id='content' class="container" ng-app='G5Data' ng-controller='MainController' style="margin-top:10px;">
        <div style="display:none;">
            <input type="file" id="file" name="file"/>
            <button ng-click="add()">Ladda fil</button>
        </div>
        <div>
            <button ng-click="iphone()" class="btn btn-primary">iPhone</button>
            <button ng-click="ipad()" class="btn btn-primary">iPad</button>
            <button ng-click="google()" class="btn btn-primary">Google Play</button>
            <label for="filter" style="margin-left:10%;">Visa enbart filtrerade spel</label>
            <input type="checkbox" name="filter" ng-model="useFilter" />

            <div style="float:right">v0.4</div>
            
        </div>
        <div ng-show="isLoading" class="loader" style="margin-top:40%;">Loading...</div>
        <div style="margin-top:20px;" ng-repeat="game in games | orderBy: 'name'">
                <h3>{{game.name}}</h3>
                <select ng-model="game.selectedCountry" ng-change="countrySelected(game)">
                    <option ng-repeat="country in game.countries | orderBy: 'name'" value="{{country.name}}">{{country.name}}</option>
                </select>
                <button ng-click="showAll(game)" style="margin-left:10px;">Visa alla länder samlat</button>            

                <div style="width:100%;" ng-show="game.showChart">
                    <canvas id="{{game.name}}"></canvas>
                </div>

                <div ng-repeat="data in game.sortedData" ng-show="game.showChart">
                    <h4>{{data.year}} - {{data.country}}</h4>

                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Kvartal</th>
                                <th>Genomsnitt</th>
                                <th>Median</th>
                                <th>Min</th>
                                <th>Max</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="quarter in data.quarters">
                                <td>{{quarter.quarter}}</td>
                                <td>{{quarter.average}}</td>
                                <td>{{quarter.median}}</td>
                                <td>{{quarter.min}}</td>
                                <td>{{quarter.max}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div>
                    <h4>{{data.year}}</h4>

                    <table class="table table-bordered table-striped table-sm" ng-show="game.allData">
                        <thead> 
                            <tr>
                                <th>Quarter</th>
                                <th ng-repeat="country in game.countries">{{country.name}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="quarter in game.allData">
                                <td>{{quarter.quarter}}</td>
                                <td ng-repeat="value in quarter.values" ng-class="{lowestQuarter: value.isLowest == true}">{{value.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <br/><hr/>
        </div>
    </div>
</body>
</html> 
